# Python cache (File rác sinh ra khi chạy code)
__pycache__
.py[cod]

# Môi trường ảo (Nếu ai đó cài venv trong thư mục dự án)
venv
.venv
env

# Database SQLite (Nếu nhóm dùng SQLite để test, đừng đẩy file data lên)
.sqlite3

# File cấu hình của trình soạn thảo
.vscode
.idea
